body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0; 
    padding: 20px;
    max-width: 800px; /* Set the maximum width of the content */
    margin: 0 auto;  /* Center the content  */  
    background-color: cadetblue;
    /* box-shadow: 10px 10px 0px rgba(0, 0, 0, 1); Add a subtle box-shadow */
}

li {
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

section {
    margin-bottom: 30px;
    display: flex; /* Make the about section use flexbox */
    align-items: center; /* Align content vertically */
}

.about-portrait {
    width: 200px; /* Adjust width as needed */
    margin-right: 20px; /* Add margin for spacing */
}

.about-portrait img {
    border-radius: 50%; /* Make the portrait image round */
}

h2 {
    flex: 1; /* Text takes up remaining space */
}

.project {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #f0f0f0;
}

#publications .publication-entry {
    display: flex; /* Use flexbox for side-by-side layout */
    align-items: center; /* Align image and text vertically */
    margin-bottom: 20px; 
}

.publication-image {
    width: 100px;  /* Adjust the image width */
    height: auto;  /* Maintain image aspect ratio */
    margin-right: 20px;
}

.publication-text {
   flex: 1; /* Text content takes up the remaining space */
}

.img-inline {
    height: 2em;
}